<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>OSS - Resultados!</title>
	<div th:replace="fragments/headFragment :: head"></div>
</head>
<body>
	<div th:replace="fragments/headerFragment :: header"></div>
	
	<div class="container">
		<h1>Jogadores</h1>
		<table class="table table-hover table-striped table-sm">
		    <tr>
		        <th>Username</th>
		    </tr>
		    <tr th:each="j : ${jogadores}">
		        <td class="align-middle" th:text="${j.nick}"></td>
		    </tr>
		</table>
	
		<h2>Pesquisa</h2>
		<nav class="navbar navbar-light bg-light">
		  <span class="navbar-text">
		    Pesquisar partidas por jogador ou equipa 
		  </span>
		</nav>
		<form action="#" th:action="@{/resultados}" th:object="${criterios}" method="POST">
			<div class="row">
				<div class="form-group col-lg-2 col-md-6">
					<label>Data:</label>
					<br />
					<input id="date" placeholder="DD/MMM/YYY" type="text" th:field="*{data}" class="form-control"/>
				</div>&nbsp;&nbsp;&nbsp;
				<div class="form-group col-lg-8 col-md-6">
					<label>Jogadores:</label><br />
				    <label th:each="jogador : ${jogadores}" class="btn btn-secondary bs-popover-left">
						<input type="checkbox" 
						   th:name="jogadores"
				           th:text="   ${jogador.nick}"
				           th:value="${jogador.id}">
					</label>
				</div>
				<div class="form-group align-self-end">
					<button type="submit" name="pesquisar" class="btn btn-success float-right bs-popover-right bs-popover-top"><i class="fa fa-search"></i> pesquisar</button>
				</div>
			</div>
			
		</form>
		
		
		<h1>Partidas</h1>
		<table class="table table-hover table-striped table-sm">
		    <tr>
		    	<th>Data</th>
		        <th>Equipa Azul</th>
		        <th>Resultado</th>
		        <th>Equipa Laranja</th>
		    </tr>
		    <tr th:each="p : ${partidas}">
		   		<td class="align-middle" th:text="${#dates.format(p.data, 'dd/MM/yyyy')}"></td>
		        <td class="align-middle" th:text="${p.equipaAzul.J1.nick + ' & ' + p.equipaAzul.J2.nick}" th:classappend="${p.vencedor == p.equipaAzul.id} ? 'table-success' : ''"></td>
		        <td class="align-middle" th:text="${p.golosAzul + ' - ' + p.golosLaranja}"></td>
		        <td class="align-middle" th:text="${p.equipaLaranja.J1.nick + ' & ' + p.equipaLaranja.J2.nick}" th:classappend="${p.vencedor == p.equipaLaranja.id} ? 'table-success' : ''"></td>
		    </tr>
		</table>
	</div>

	<div th:replace="fragments/footerFragment :: footer"></div>
	<div th:replace="fragments/datePickerScripts :: datePickerScripts"></div>	
</body>
</html>