<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>OSS - Erro!</title>
	<div th:replace="fragments/headFragment :: head"></div>
</head>
<body>
	<div th:replace="fragments/headerFragment :: header"></div>
	
	<h1>403.html There's no page here!</h1>
	<h3>Utilizador não autorizado!</h3>
	<p>pode fazer logout para tentar novamente com outras credenciais</p>
	<div class="user-panel">
		<a href="/logout">Logout</a>
	</div>
	<p>
	    Go back to <a href="/">home page</a>.
	</p>

	<div th:replace="fragments/footerFragment :: footer"></div>
    </body>
</html>